<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Games List</title>
</head>

<body>
  <h1>Video Game Database</h1>
  <ul>
    <% games.forEach(game => { %>
    <li>
      <a href="/games/view/<%= game.id %>">
        <%= game.title %>
      </a><br>
      Genre: <%= game.genre %><br>
      Year: <%= game.releaseYear %><br>
      Rating: <%= game.rating %>/10
    </li>
    <hr>
    <% }) %>
  </ul>
  <h2>Add a Game</h2>
  <form action="/games" method="POST">
    <input type="text" name="title" placeholder="Title" required />
    <input type="text" name="genre" placeholder="Genre" required />
    <input type="number" name="releaseYear" placeholder="Release Year" required />
    <input type="number" name="rating" placeholder="Rating" required />
    <button type="submit">Add Game</button>
  </form>
</body>
</html>